.tabel {
  background-color: rgb(135, 211, 223);
  padding-left: 26%;
  padding-top: 9%;
  padding-right: 20%;
  padding-bottom: 20%;
}

table,
th,
td,
tr {
  /* border: 1px solid black; */
  text-align: center;
  background-color: whitesmoke;
}

td,
th {
  text-align: center;
}

td,
th {
  border: 1px solid rgba(8, 8, 8, 0.844);
  padding: 20px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 25px;
  background-color: #1398ac;
  color: white;
}
